<template>
	<div class="footer">
		<input
			class="input-text"
			v-model="name"
		/>
		<button
			v-on:click="add"
		>
			Добавить
		</button>
	</div>
</template>

<script>
export default {
	name: 'todo-footer',
	data() {
		return { name: '' };
	},
	methods: {
		add() {
			const { $store } = this;

			if (this.name.trim() !== '') {
				$store.commit(
					'addTodo',
					{
						id: $store.state.count + 1,
						name: this.name,
						status: 'active',
					},
				);

				$store.commit('countInc');

				this.name = '';
			}
		},
	},
};
</script>

<style scoped>
	.footer {
		grid-row: 3;
		display: grid;
		grid-template-columns: 1fr 3fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.input-text {
		grid-column: 2;
		grid-row: 2;
	}

	button {
		grid-column: 3;
		grid-row: 2;
	}
</style>
