<template>
	<div class="content">
		<div class="todo-filter">
			<input
				class="filter-input"
				id="one"
				type="radio"
				value="all"
				v-model="status"
			>
			<label for="one">
				Все
			</label>
			<input
				class="filter-input"
				id="two"
				type="radio"
				value="active"
				v-model="status"
			>
			<label for="one">
				Активные
			</label>
			<input
				class="filter-input"
				id="three"
				type="radio"
				value="nonactive"
				v-model="status"
			>
			<label for="one">
				Неактивные
			</label>
		</div>
		<div class="todo-list-scroll">
			<todo-list />
		</div>
	</div>
</template>

<script>
import TodoList from './TodoList.vue';
import { serialize } from '../utils';

export default {
	components: {
		TodoList,
	},
	data() {
		return {
			status: 'all',
		};
	},
	watch: {
		status() {
			const { status, ...rest } = this.$route.query;

			if (this.status === 'all') {
				this.$router.replace(`/todo?${serialize(rest)}`);
			} else {
				this.$router.replace(`/todo?${serialize({ ...this.$route.query, status: this.status })}`);
			}
		},
	},
	name: 'todo-content',
};
</script>

<style scoped>
	.content {
		grid-row: 2;
		display: flex;
		flex-direction: column;
	}

	.todo-filter {
		flex: 1;
		display: flex;
		align-items: center;
		margin-left: 16px;
	}

	.filter-input {
		width: 18px;
		height: 18px;
	}

	.todo-list-scroll {
		flex: 11;
		display: flex;
		overflow-y: auto;
		height: 200px;
	}
</style>
