<template>
	<div class="todo-list-item">
		<div
			class="todo-list-item-row"
			v-if="!isEdit"
		>
			<input
				class="todo-list-item-checkbox"
				type="checkbox"
				v-model="status"
			/>
			<div
				v-if="!isEdit"
				v-on:click="isEdit = true"
				class="todo-list-item-name"
			>
				{{ name }}
			</div>
			<button
				v-on:click="del"
			>
				Удалить
			</button>
		</div>
		<div
			class="todo-list-item-row-edit"
			v-if="isEdit"
		>
			<input
				class="todo-list-item-checkbox"
				type="checkbox"
				v-model="status"
			/>
			<input
				class="input-text"
				v-model="name"
			/>
			<button
				v-on:click="setName"
			>
				Сохранить
			</button>
			<button
				v-on:click="cancel"
			>
				Отмена
			</button>
			<button
				v-on:click="del"
			>
				Удалить
			</button>
		</div>
	</div>
</template>

<script>
export default {
	name: 'todo-list-item',
	data() {
		return {
			isEdit: false,
			name: '',
			status: '',
		};
	},
	created() {
		this.name = this.todo.name;
		this.status = this.todo.status === 'active';
	},
	props: {
		todo: Object,
		requred: true,
	},
	watch: {
		status() {
			this.$store.commit(
				'setStatus',
				{ id: this.todo.id, status: this.status },
			);
		},
	},
	methods: {
		del() {
			this.$store.commit(
				'deleteTodo',
				this.todo.id,
			);
		},
		setName() {
			this.$store.commit(
				'setName',
				{ id: this.todo.id, name: this.name },
			);
			this.isEdit = false;
		},
		cancel() {
			this.isEdit = false;
		},
	},
};
</script>

<style scoped>
	.todo-list-item {
		margin: 8px 0;
	}

	.todo-list-item-checkbox {
		grid-column: 1;
		width: 18px;
		height: 18px;
	}

	.todo-list-item-row-edit {
		display: grid;
		grid-template-columns: 1fr 5fr 2fr 2fr 2fr;
	}

	.todo-list-item-row {
		display: grid;
		grid-template-columns: 1fr 9fr 2fr;
	}

	.todo-list-item-name {
		line-height: 24px;
	}

	.input-text {
		height: 18px;
		font-size: 16px;
	}

	button {
		height: 24px;
		font-size: 16px;
	}
</style>
