<template>
	<div class="header">
		<input
			class="input-text"
			v-model="name"
		/>
		<button
			v-on:click="search"
		>
			Поиск
		</button>
	</div>
</template>

<script>
import { serialize } from '../utils';

export default {
	name: 'todo-header',
	data() {
		return { name: '' };
	},
	created() {
		const { name } = this.$route.query;

		if (name) {
			this.name = name;
		}
	},
	methods: {
		search() {
			const { name, ...rest } = this.$route.query;

			if (this.name.trim() !== '') {
				this.$router.replace(`/todo?${
					serialize({ ...this.$route.query, name: this.name })}`);
			} else {
				this.$router.replace(`/todo?${serialize(rest)}`);
			}
		}, //
	},
};
</script>

<style scoped>
	.header {
		grid-row: 1;
		display: grid;
		grid-template-columns: 1fr 3fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.input-text {
		grid-column: 2;
		grid-row: 2;
	}

	button {
		grid-column: 3;
		grid-row: 2;
	}
</style>
