<template>
	<div class="todo-list">
		<todo-list-item
			v-for="todo in getTodos"
			:key="todo.id"
			v-bind:todo="todo"
		/>
	</div>
</template>

<script>
import TodoListItem from './TodoListItem.vue';

export default {
	name: 'todo-list',
	components: {
		TodoListItem,
	},
	computed: {
		getTodos() {
			const { $store, $route } = this;

			return $store.getters.getTodos($route.query);
		},
	},
};
</script>

<style scoped>
	.todo-list {
		flex: 1;
		margin: 16px;
		display: flex;
		flex-direction: column;
	}
</style>
