<template>
	<div class='todo'>
		<todo-header />
		<todo-content />
		<todo-footer />
	</div>
</template>

<script>
import TodoHeader from './TodoHeader.vue';
import TodoContent from './TodoContent.vue';
import TodoFooter from './TodoFooter.vue';

export default {
	components: {
		TodoFooter,
		TodoContent,
		TodoHeader,
	},
	name: 'todo',
};
</script>

<style scoped>
	.todo {
		display: grid;
		grid-template-rows: 1fr 6fr 1fr;
		background: #eee8e7;
		width: 500px;
		height: 700px;
	}
</style>
