<template>
  <div class="app">
		<router-view />
  </div>
</template>

<script>
export default {
	name: 'app',
};
</script>

<style>
	:root {
		--text-font-size: 18px;
	}

	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
		font-size: var(--text-font-size);
	}

	button {
		height: 30px;
		font-size: var(--text-font-size);
	}

	.app {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.input-text {
		width: 100%;
		height: 24px;
		font-size: 18px;
	}
</style>
